{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<div {{ react_component('Home', { 'fullName': 'Quang', 'altCover' : 'random guy playing games', } ) }}>
		<div {{ react_component('LastQuests' ) }}></div>
	</div>
{% endblock %}
