{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block sidebar %}
	{# ... #}
{% endblock %}

{% block body %}

	<h1>Bonjour
		{{ app.user.nickname }}</h1>

	<div {{ react_component('Card', {'title' : 'Tes parties en cours'} ) }}></div>

	<div class="text-center">
		<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Quêtes en cours</h1>
	</div>
	<div class="text-center">
		<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Vos jeux en cours</h1>
	</div>
{% endblock %}
